body {
    margin: 0;
    background-color: #000;
}

a {
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
}

h1 {
    color: #fff;
    font-family: sans-serif;
    margin: 0px;
    font-size: 65px;
}

main {
    background-color: #212437;
    width: 60%;
    justify-self: center;
    padding: 15px;
    margin-bottom: 35px;
    border-radius: 0 0 10px 10px;
}

nav {
    margin-top: 35px;
    border-radius: 10px 10px 0 0;
    background-color: #181b29;
    padding: 15px;
    width: 60%;
    justify-self: center;
    text-align: right;
}

.MainBlocks {
    padding: 60px;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.sticky {
    top: 0;
    position: sticky;
    opacity: 75%;
}

.Canvas {
    width: 100px;
    height: 100%;
}

.info {
    margin-right: 32%;
    width: 56%;
}

p#desc {
    padding-left: 30px;
}

p {
    color: #bdbdbd;
    font-size: 20px;
}

.Blocks {
    display: flex;
    gap: 20%;
    margin-left: 60px;
}

.progress {
    justify-items: anchor-center;
}

h3 {
    margin-top: 100px;
    color: #bdbdbd;
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 30px;
}

img {
    width: 10vh;
    height: 10vh;
}

.Social {
    margin-top: 75px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}


.Round {
    width: 15vh;
    height: 15vh;
}